{% extends 'base.html' %}

{% block title %}Новости{% endblock %}
{% block aside %}
    <a href="{% url 'main_page' %}"><li>Главная</li></a>
    <a href="{% url 'about' %}"><li>Про нас</li></a>
    <a href="{% url 'news_home' %}"><li>Новости</li></a>
    <a href="{% url 'create_news' %}"><li><button class="btn btn-info">Добавить Новость</button></li></a>
{% endblock %}
{% block content %}
<div class="features">
    <h1>Новости о животных</h1>
    {% if context %}
        {% for c in context %}
            <div class="alert alert-warning">
                <h2>{{ c.title }}</h2>
                <p>{{ c.anons }}</p>
                <p>{{ c.text }}</p>
                <p>{{ c.date }}</p>
                <a href="{% url 'news-detail' c.id %}" class="btn btn-warning">Подробнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Новостей нет</p>
    {% endif %}
</div>
{% endblock %}