{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="features">
    <h1>Новости о животных</h1>
    {% if context %}
        {% for c in context %}
            <div class="alert alert-warning">
                <h2>{{ c.title }}</h2>
                <p>{{ c.anons }}</p>
                <p>{{ c.text }}</p>
                <p>{{ c.date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Новостей нет</p>
    {% endif %}
</div>
{% endblock %}