{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>Этот сайт или приложение создано мной как первый самостоятельный проект по джанго.
        Здесь плохо настроены стили, очень плохо. Я начал этот проект чтоб научиться делать какой никакой но вроде прикольный бэкэнд, получилось вроде неплохо
        Не получилось прикрутить фотки и вместо слагов слаги испульзуются цифрами, но зато есть две формы для добавления и даже редактирование и удаления
    </p>
    <p>
        Если вы нашли это пиложение значит вы посетили мой аккаунт на гитхабе, а там есть ссылка на мой вк, так что если нужен написать вы мне можете
    </p>
    <p>
        Когда нибудь я удали из репозитория данный проект
    </p>
    <p><a href="https://github.com/gilmanchik">Мой гит</a></p>
</div>
{% endblock %}