{% extends 'base.html' %}

{% block title %}{{ info_post.title }}{% endblock %}
{% block aside %}
    <a href="{% url 'main_page' %}"><li>Главная</li></a>
    <a href="{% url 'about' %}"><li>Про нас</li></a>
    <a href="{% url 'news_home' %}"><li>Новости</li></a>
    <a href="{% url 'create_info' %}"><li><button class="btn btn-info">Добавить запись</button></li></a>
{% endblock %}
{% block content %}
<div class="features">
    <h1>{{ info_post.title }}}</h1>
    <p>{{ info_post.description }}</p>
    <a href="{% url 'info-delete' info_post.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'info-update' info_post.id %}" class="btn btn-info">Редактировать</a>
</div>
{% endblock %}