body {
    background: #2c2c2c;
}

aside {
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    background: #181818;
    width: 18%;

    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100px;
    float: left;
}

.animals {
    font-size: 40px;
    margin-left: 0px;
    font-weight: bold;
}

h3 {
    padding-top: 80px;
}

ul a {
    list-style: none;
    text-decoration: none;
    transition: transform .4s ease;
}

li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .4s ease;
}

a:hover li:hover {
    color: #eb5959;
    transform: scale(1.05);
    transition: all .4s ease;
}

.features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.features h1 {
    font-size: 50px;
}

.features p {
    max-width: 400px; margin: 20px auto;
}